
header{
    background-color: rgb(170, 255, 0);
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;

}

h1{
    size: 2em;
}
.icon{
    font-size: 4em;
    background: none;
    border: 0;
    cursor: pointer;
}
.cantProd{
    font-size: 4rem;
}